@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Manrope', sans-serif;
}

.bg-hero {
    background-image: url("./assets/home/mobile/image-header.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.bg-pattern {
    background-image: url("./assets/home/desktop/pattern-circles.svg");
    background-position: center;
}

.bg-zx7{
    background-image: url("./assets//home/mobile/image-speaker-zx7.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

@media (min-width: 640px) {
    .bg-hero {
        background-image: url("./assets/home/tablet/image-header.jpg");
    }
    .bg-zx7{
        background-image: url("./assets//home/tablet/image-speaker-zx7.jpg");
    }
}

@media (min-width: 1024px) {
    .bg-hero {
        background-color: #101010;
        /* Change the background color above lg */
        background-image: none;
        /* Remove the background image above lg */
    }
    .bg-zx7{
        background-image: url("./assets//home/desktop/image-speaker-zx7.jpg");
    }
}